{:paths ["src"]
 :deps {}
 :aliases
 {:dev {:extra-paths ["dev" "test" "dev-resources"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                     org.clojure/clojurescript {:mvn/version "1.11.60"}
                     cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.1.1"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.0"}}
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow" "-Djdk.attach.allowAttachSelf=true"]}
  :test {:exec-fn kaocha.runner/exec-fn
         :exec-args {}}
  :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                      :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "replicant.jar"]}}}
