{:linters {:replicant/alias {:level :warning}
           :replicant/stylesheet {:level :warning}}
 :hooks {:analyze-call {replicant.alias/defalias replicant.defalias/defalias
                        replicant.alias/aliasfn replicant.defalias/aliasfn
                        replicant.css/stylesheet replicant.stylesheet/stylesheet}}}
